@use './../../styles/colors' as c;

.AboutProgram {
    width: 60vw;
    height: 80vh;
    overflow-y: auto;
    padding-bottom: 15px;

    .container {
        width: 90%;
        margin: 0 auto;
    }


    h2.configuratorVersion {
        padding: 15px 0;
        font-weight: 500;
    }

    p {
        line-height: 24px;  
    }

    .p-tabview-panels {
        font-family: "Roboto" sans-serif;

    }
    .tabview {
        a {
            font-family: 'Roboto' sans-serif;
            
        }

        .p-tabview-ink-bar { 
            background-color: c.$theme-color;
        }

        .p-tabview-nav-container {
            margin-bottom: 20px;
        }

        .p-highlight {
            .p-tabview-title {
                color: c.$theme-color;
            }

            .p-tabview-nav-link {
                border-bottom: none;
            }
           
        }

        .p-tabview-nav-link {
            padding: 10px 20px;
            font-weight: normal;
        }
    }
}