@use './../../../../styles/colors' as c;

.DropdownItem {
	transition: background-color 0.3s;
	border: none;
	outline: none;
	width: 100%;
	font-family: "Roboto";
	background-color: inherit;
	padding: 10px 15px 10px 10px;
	display: grid;
	cursor: pointer;
	grid-template-columns: 30px 1fr 150px;
	align-items: center;
	column-gap: 15px;

    &.underlined {
        border-bottom: 1px solid c.$border-color;
    }

	.label {
		text-align: left;
	}

	.hotkey {
		text-align: right;
	}

	&:disabled {
		&:hover {
			background-color: #eeeded;
			cursor: default;
		}
	}

	&:hover {
		background-color: #dfdede;
	}
}
