<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="HelloPhotino.React.Resources.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="HelloPhotino.React.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <HelloPhotino.React.Resources.Settings>
            <setting name="SavedConnType" serializeAs="String">
                <value>TCP</value>
            </setting>
            <setting name="SavedTimeout" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="SavedFolderPath" serializeAs="String">
                <value />
            </setting>
            <setting name="SavedUseCurrentTime" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SavedOwnAdr" serializeAs="String">
                <value />
            </setting>
            <setting name="SavedDeviceAdr" serializeAs="String">
                <value />
            </setting>
            <setting name="SavedOpt" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SavedBaud" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SavedAutoSave" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SavedProtocol" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SavedPrintReadonly" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SavedUseDeviceAddress" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SavedGenerateFileName" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SavedComPortName" serializeAs="String">
                <value />
            </setting>
            <setting name="SavedModemName" serializeAs="String">
                <value />
            </setting>
            <setting name="SavedModemPhone" serializeAs="String">
                <value />
            </setting>
            <setting name="SavedNetworkAddr" serializeAs="String">
                <value />
            </setting>
            <setting name="SavedNetworkPort" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AskParameterSettings" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SavedPrintDescriptions" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SavedZoomFactor" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="SavedShowZoomButtons" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SavedKeepalive" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SavedStopBits" serializeAs="String">
                <value>1</value>
            </setting>
        </HelloPhotino.React.Resources.Settings>
        <HelloPhotino.React.Properties.Settings>
            <setting name="SavedConnType" serializeAs="String">
                <value>TCP</value>
            </setting>
            <setting name="SavedTimeout" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="SavedFolderPath" serializeAs="String">
                <value>/</value>
            </setting>
            <setting name="SavedUseCurrentTime" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SavedOwnAdr" serializeAs="String">
                <value />
            </setting>
            <setting name="SavedDeviceAdr" serializeAs="String">
                <value />
            </setting>
            <setting name="SavedOpt" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SavedBaud" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SavedAutoSave" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SavedProtocolIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SavedPrintReadonly" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SavedUseDeviceAddress" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SavedGenerateFileName" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SavedComPortName" serializeAs="String">
                <value />
            </setting>
            <setting name="SavedModemName" serializeAs="String">
                <value />
            </setting>
            <setting name="SavedModemPhone" serializeAs="String">
                <value />
            </setting>
            <setting name="SavedNetworkAddr" serializeAs="String">
                <value />
            </setting>
            <setting name="SavedNetworkPort" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AskParameterSettings" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SavedPrintDescriptions" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FontSize" serializeAs="String">
                <value>16</value>
            </setting>
            <setting name="SavedShowZoomButtons" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SavedKeepalive" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SavedStopBits" serializeAs="String">
                <value>1</value>
            </setting>
        </HelloPhotino.React.Properties.Settings>
    </userSettings>
</configuration>