@use './../../../../styles/colors' as c;

.FileObserverItem {
    width: 100%;
    display: flex;  
    align-items: center;
    border: 1px solid #fff;
    padding: 5px;

    .entryName {

        width: 50%;

        &.editable {
            
        }
    }

    &:hover {
        background-color: c.$selection-color;
    }

    &.clicked {
        background-color: c.$dark-selection-color;
        border: 1px solid c.$selection-border-color;
    }


    .icon {
        width: 30px;
        height: 30px;
        margin-right: 15px;
        text-wrap: wrap;
        -webkit-touch-callout: none; 
        -webkit-user-select: none;
        -khtml-user-select: none; 
        -moz-user-select: none;
        -ms-user-select: none; 
        user-select: none; 
    }

    .itemName {
        text-wrap: wrap;
        -webkit-touch-callout: none; 
        -webkit-user-select: none;
        -khtml-user-select: none; 
        -moz-user-select: none;
        -ms-user-select: none; 
        user-select: none; 
    }
}