@use './../../../styles/colors' as c;

.TextInput {
    padding: 10px 15px;
    border: 1px solid c.$border-color;  
    border-radius: 0;
    width: 30vw;
    font-size: 16px;
    color: c.$input-font-color;
}