@use './../../../../styles/colors' as c;

.SelectedItemViewer {
    display: flex;
    align-items: center;

    .selectedItemName {
        width: 100px;
        margin-right: 20px;
    }

    .selectedItemValue {
        flex-grow: 1;
        padding: 15px 7px;
        box-sizing: content-box;
        border: 1px solid c.$border-color;
    }
}