@use './../../styles/mixins' as m;
@use './../../styles/colors' as c;

.DeviceSelectPage {

    max-width: 900px;
    width: 70vw;
    height: 75vh;

    .container {
        @include m.container;
    }

    .content {
        h1 {
            @include m.headerStyle;
        }

        .toolList {
            width: 70%;
            margin: 0 auto;
            margin-bottom: 40px;
            height: 50vh;
            overflow-y: auto;
            border: 1px solid c.$border-color;
        }

        .createButton {
            background-color: c.$theme-color;
        }
    }
}