@use './../../styles/colors' as c;

.NavigateHeader {
    display: flex;
    justify-content: space-between;
    padding: 18px 0px;
    border-bottom: 2px solid c.$border-color;
    height: 20px;
    color: #9E9B9B;

    .navButtonBlock {
        display: flex;
        align-items: center;
        cursor: pointer;

        img {
            margin-right: 7px;
        }
        
        span {
            font-weight: bold;

            &:hover {
                text-decoration: underline;
            }
        }

        
    }
}