.HintBlock {

    .detailedDescription {
        border: 1px solid black;
        height: 20vh;
        padding: 10px;
    }

    .valueRange { 
        border: 1px solid black;
        min-height: 40px;
        padding: 10px;
    }
}